@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  font-family: "Montserrat", sans-serif;
}

.medium {
  font-weight: 500;
}

.active {
  text-decoration: underline;
}

.error {
  margin-top: 100px;
  text-align: center;
  color: #ff6060;
}
.error__heading {
  font-size: 288px;
}
.error__paragraph {
  font-size: 36px;
}
.error__back {
  font-size: 18px;
  display: block;
  margin: 150px 0;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .error {
    margin: 195px 0;
  }
  .error__heading {
    font-size: 96px;
  }
  .error__paragraph {
    font-size: 18px;
    line-height: 26px;
    padding: 0 30px;
  }
  .error__back {
    font-size: 14px;
  }
}
.footer {
  background-color: #000000;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer__text {
  padding-top: 35px;
  color: white;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 62px 0;
  }
  .footer__text {
    font-size: 12px;
  }
}
.header {
  margin: 40px 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__navbar {
  display: flex;
  gap: 60px;
}
.header__navbar__link {
  font-size: 24px;
  color: #ff6060;
}
.header__navbar__link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .header {
    margin: 20px;
  }
  .header__logo {
    height: 45px;
    width: 145px;
  }
  .header__navbar {
    gap: 10px;
  }
  .header__navbar__link {
    font-size: 12px;
    text-transform: uppercase;
  }
}
.block {
  display: block;
}

.article {
  background: linear-gradient(180deg, #ffffff 0, #000000 100%);
  display: flex;
  align-items: flex-end;
  height: 340px;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}
.article__image {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
.article__title {
  font-size: 18px;
  z-index: 1;
  color: #ffffff;
  position: absolute;
  padding: 20px;
}

@media screen and (max-width: 768px) {
  .article {
    height: 255px;
  }
}
.dropdown {
  margin-bottom: 30px;
}
.dropdown__heading {
  background-color: #ff6060;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 32px 8px 16px;
  position: relative;
  z-index: 5;
  cursor: pointer;
}
.dropdown__heading__title {
  font-size: 24px;
  color: #ffffff;
}
.dropdown__paragraph {
  background-color: #f7f7f7;
  color: #ff6060;
  font-size: 24px;
  line-height: 34px;
  border-radius: 5px;
  padding: 36px 18px 18px 18px;
  position: relative;
  top: -10px;
  z-index: 4;
  white-space: pre-line;
}

@media screen and (max-width: 768px) {
  .dropdown {
    margin-bottom: 20px;
  }
  .dropdown__heading {
    padding: 10px;
  }
  .dropdown__heading__title {
    font-size: 13px;
  }
  .dropdown__heading > img {
    height: 11px;
  }
  .dropdown__paragraph {
    font-size: 12px;
    line-height: 17px;
    padding: 25px 0px 20px 12px;
  }
}
.carrousel {
  width: 100%;
  height: 415px;
  overflow: hidden;
  border-radius: 25px;
  position: relative;
}
.carrousel__next, .carrousel__prev {
  height: 100%;
  background-color: unset;
  border: 0;
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}
.carrousel__next {
  right: 0%;
}
.carrousel__prev {
  margin-left: 40px;
  left: 0%;
}
.carrousel__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .carrousel {
    height: 255px;
    border-radius: 10px;
  }
  .carrousel button img {
    height: 20px;
  }
  .carrousel__prev {
    margin-left: 10px;
  }
}
.tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
}
.tags__p {
  background-color: #ff6060;
  color: #ffffff;
  min-width: 115px;
  border-radius: 10px;
  font-size: 14px;
  padding: 5px 20px;
}

@media screen and (max-width: 768px) {
  .tags {
    justify-items: center;
    margin-top: 10px;
    justify-content: flex-start;
  }
  .tags__p {
    border-radius: 5px;
    min-width: 84px;
    font-size: 10px;
    padding: 3px;
  }
}
.infos {
  color: #ff6060;
}
.infos__title {
  font-size: 36px;
  line-height: 51px;
}
.infos__location {
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .infos__title {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 5px;
  }
  .infos__location {
    font-size: 14px;
  }
}
.host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 24px;
}
.host__name {
  font-size: 18px;
  color: #ff6060;
}
.host__picture {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .host {
    margin: 0;
  }
  .host__name {
    font-size: 12px;
  }
  .host__picture {
    height: 32px;
    width: 32px;
  }
}
.rate {
  display: inline-flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .rate {
    gap: 5px;
  }
  .rate__star {
    width: 15px;
    height: 15px;
  }
}
#about {
  margin: 0 100px;
}

.about-banner {
  margin: 40px 0 30px;
  height: 222px;
  border-radius: 25px;
  overflow: hidden;
  background-color: #000000;
}
.about-banner__image {
  min-width: 100%;
  opacity: 0.7;
}

.about-infos {
  margin: 0 100px;
}

@media screen and (max-width: 768px) {
  #about {
    margin: 0 20px;
  }

  .about-banner {
    border-radius: 10px;
    margin: 0;
  }
  .about-banner__image {
    min-width: unset;
    width: 100%;
    height: 100%;
    object-fit: none;
    object-position: 100% 0%;
  }

  .about-infos {
    margin: 20px 0;
  }
}
.home {
  margin: 0 100px;
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #000000;
  border-radius: 25px;
  overflow: hidden;
  height: 223px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.banner__image {
  min-width: 100%;
  opacity: 0.7;
}
.banner__title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  height: 100%;
  font-size: 48px;
  color: #ffffff;
  position: absolute;
  top: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 50px 60px;
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  background-color: #f6f6f6;
}

@media screen and (max-width: 768px) {
  .home {
    margin: 0 20px;
  }

  .banner {
    border-radius: 10px;
    height: 110px;
    margin: 0;
    justify-content: flex-start;
  }
  .banner__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .banner__title {
    width: 225px;
    font-size: 24px;
    line-height: 24px;
    margin-left: 16px;
  }

  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    background-color: unset;
    padding: 0;
    margin: 22px 0;
    gap: 20px;
  }
}
.room {
  margin: 20px 100px;
}
.room__header {
  margin: 24px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.room__dropdowns {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6%;
}
.room__dropdowns .dropdown__heading__title, .room__dropdowns .dropdown__paragraph {
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}
.room__dropdowns .dropdown__heading {
  padding: 14px 12px 14px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .room {
    margin: 20px;
  }
  .room__header {
    margin: 15px 0;
    flex-wrap: wrap;
    gap: 15px;
  }
  .room__header__hosting {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
  .room__dropdowns {
    margin: 0;
    grid-template-columns: 1fr;
    gap: 0;
  }
  .room__dropdowns .dropdown__heading__title {
    font-size: 13px;
    line-height: 19px;
  }
  .room__dropdowns .dropdown__paragraph {
    font-size: 12px;
    line-height: 17px;
  }
  .room__dropdowns .dropdown__heading {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
