.error {
  margin-top: 100px;
  text-align: center;
  color: $color-primary;
  &__heading {
    font-size: 288px;
  }
  &__paragraph {
    font-size: 36px;
  }
  &__back {
    font-size: 18px;
    display: block;
    margin: 150px 0;
    text-decoration: underline;
  }
}

@media screen and (max-width: 768px) {
  .error {
    margin: 195px 0;
    &__heading {
      font-size: 96px;
    }
    &__paragraph {
      font-size: 18px;
      line-height: 26px;
      padding: 0 30px;
    }
    &__back {
      font-size: 14px;
    }
  }
}
