.tags {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  text-align: center;
  &__p {
    background-color: $color-primary;
    color: $color-text-secondary;
    min-width: 115px;
    border-radius: 10px;
    font-size: 14px;
    padding: 5px 20px;
  }
}

@media screen and (max-width: 768px) {
  .tags {
    justify-items: center;
    margin-top: 10px;
    justify-content: flex-start;
    &__p {
      border-radius: 5px;
      min-width: 84px;
      font-size: 10px;
      padding: 3px;
    }
  }
}
