.home {
  margin: 0 100px;
}

.banner {
  position: relative;
  background-color: $color-background-secondary;
  border-radius: 25px;
  overflow: hidden;
  max-height: 223px;
  margin-top: 60px;
  margin-bottom: 40px;
  &__image {
    min-width: 100%;
    opacity: 0.7;
  }
  &__title {
    font-size: 48px;
    color: $color-text-secondary;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($size-article, 1fr));
  gap: 50px 60px;
  padding: 50px;
  margin-bottom: 50px;
  border-radius: 25px;
  background-color: $color-background-tertiary;
}

@media screen and (max-width: 768px) {
  .home {
    margin: 0 20px;
  }

  .banner {
    border-radius: 10px;
    height: 110px;
    margin: 0;
    &__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &__title {
      width: 225px;
      font-size: 24px;
      line-height: 24px;
      left: unset;
      transform: translate(0, -50%);
      margin-left: 16px;
      white-space: unset;
    }
  }

  .gallery {
    grid-template-columns: repeat(
      auto-fill,
      minmax($size-mobile-width-article, 1fr)
    );
    background-color: unset;
    padding: 0;
    margin: 22px 0;
    gap: 20px;
  }
}
