$color-primary: #ff6060;

$color-background-primary: #ffffff;
$color-background-secondary: #000000;
$color-background-tertiary: #f6f6f6;
$color-text-primary: $color-primary;
$color-text-secondary: #ffffff;

$size-article: 340px;
